body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#city-search-input {
    font-size: 14px;
}

#clearHistory {
    margin-top: 10px;
}